#wrapper{
    min-height: 230vh;
    background: url('../../assets/photos//blur_wallpaper.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen 
and (min-width : 1000px) {
    #comingSoonWrapper{
        padding-top: 200px;
    }
}

#comingSoonWrapper{
    padding: 0 20px;
    padding-top: 200px;

}