.navbar{
    z-index: 1;
    background: #dbbde7;
    min-height: 100px;
    opacity: 1;
    text-align: center;
}

.mr-auto {
  margin: auto;
}

.mr-auto > .nav-link{
    font-size: 25px;
    margin: auto 25px;
    white-space: nowrap;
    font-weight: 500;
}

#scrolledNav{
    opacity: 0.4;
}