#wrapper{
    display: flex;
    height: fit-content;
    padding: 10px 0;
    border-radius: 10px;
}

#textParams{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 40%;
    margin: auto 20px;
    flex: 5;

}

#title{
    font-size: 25px;
    font-style: italic;
    color: gray;
    font-weight: 500;
}

#serves{
    font-size: 20px;
    font-style: italic;
    color: gray;
    font-weight: 500;
}

#price{
    font-size: 25px;
    color: gray;
    margin: 0 10%;
}

#add{
    margin: 0 10%;
}

#purchaseParams{
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: right;
    width: 40%;
    float: right;
    flex: 2;
}


#image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width:  300px;
}
