#wrapper{
    border-radius: 10px;
    border-bottom: 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.24);
    min-height: 100%;
    
}

#itemsRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 98%;
    padding-left: 30px;
}

#itemWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#editButton {
    width: 60%;
    height: 20%;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: #f58f3d;
    border-color: #ac642d;
    color: white;
    border-radius: 10px;
    padding-top: 0.5vh;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    margin-top: -20px;
    opacity: 0;
    transition: opacity 0.1s;
}

#editButton:hover{
    opacity: 1;
}

#editButton > span {
    margin: auto 10px;
}

#itemPanel{
    width: 100%;
    max-width: 5000px;
    transition: max-width 1s;
    height: 90vh;
    overflow: auto;
}

#editPanel{
    width: 100%;
    max-width: 5000px;
    transition: max-width 1s;
    overflow: hidden;
}

#backButton{
    width: fit-content;
    height: 20%;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: #d9a4ff;
    border-color: #d995ff;
    color: white;
    border-radius: 10px;
    padding-top: 0.5vh;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

#backButton > span{
    margin: auto 10px;
}

#submitWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit{
    width: 100%;
    height: 80px;
    margin: 80px auto;
    margin-bottom: 0;
    border: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #dbbde7;
    color: white;
    font-size: 28px;
    transition: background 0.5s;
}

#submit:hover{
    background: #dba8e7;
}