#wrapper{
    border-radius: 10px;
    border-bottom: 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.24);
}

#subWrapper{
    padding: 40px;
    padding-bottom: 0;
}

#header{
    display: flex;
}

#form > div{
    margin: 25px auto;
}

#submitWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit{
    width: 100%;
    height: 80px;
    margin: 80px auto;
    margin-bottom: 0;
    border: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #dbbde7;
    color: white;
    font-size: 28px;
    transition: background 0.5s;
}

#submit:hover{
    background: #dba8e7;
}