
#wrapper{
    display: flex;
    justify-content: space-evenly;
}

#tabWrapper{
    width: 100%;
    flex-wrap: nowrap;
    overflow: auto;
}

#active > a{
    border: 1px solid #439661;
    border-bottom: 1px solid white;
    font-weight: bold;
    color: #439661;
}

.tab > a{
    color: black;
    font-size: 1rem;
}

.tab > a:hover{
    border: 0;
    color: #439661;
}