@keyframes swing {
    0%, 100% { transform: rotate(-30deg); }
    20% {transform:scale(.95);}
    50% { transform: rotate(30deg); }
    80% {transform:scale(.95);}
  }

  #wrapper{
    margin:50px auto;
    text-align:center;
  }
  
  #loadingImage {
    animation: swing 4s infinite ease-in-out;
    content: url('../../assets/photos//loadingLogo.png');
    width: 260px;
  }

  .loading{
      font-size: 22px;
      margin-top: 10px;
  }

  .loading {
    font-size: 30px;
  }
  
  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2000ms infinite;      
    animation: ellipsis steps(4,end) 2000ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }

  
