#circle{
    width: 180px;
    height: 180px;
    padding-top: 15px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2), 0 7px 7px 0 rgba(0, 0, 0, 0.24);
    font-size: 60px;
    color: white;
}

#subWrapper{
    margin-top: 10px;
    width: 180px;
    font-size: 25px;
    text-align: center;
    white-space: nowrap;
}